.form{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 36px;
    margin-bottom: 32px;
}

input {
    width: 272px; 
    padding: 8px 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;

    color: #2e2f42;
    background-color: #fff;

    border: 1px solid #808080;
    border-radius: 4px;

    transition: 200ms border ease-in;
}

input:hover, input:focus{
    border: 1px solid #000;
}

input:active{
    border: 1px solid #4e75ff;
}

input::placeholder {
    color: #808080;
}

button{
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    width: 91px;
    height: 40px;
    color: #fff;
    background-color: #4e75ff;
    transition: 200ms background-color ease-in;
}

button:hover{
    background-color: #6c8cff;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #4e75ff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.loader.visible {
    display: inline-block; /* показати лоадер */
}

.loader.hidden {
    display: none; /* сховати лоадер */
}